@import url("https://fonts.googleapis.com/css?family=Barlow|Poppins|Inter|Arial|Outfit:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #1E1E1E;
    --background-start-rgb:  43,45,66;
    --background-end-rgb: 43,45,66;
  }
}

body {

  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
body::-webkit-scrollbar{
  width: 8px;
  background: #2B2D42;
}
body::-webkit-scrollbar-thumb{
  width: 8px ;
  background: #EF233C;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
