/*@import url("https://fonts.googleapis.com/css?family=Barlow|Poppins|Inter|Arial|Outfit:wght@500&display=swap");*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .only-mobile {
    @apply lg:hidden;
  }
  .non-mobile {
    @apply hidden lg:block;
  }
}

*::-webkit-scrollbar{
  width: 8px;
  background: #2B2D42;
}
*::-webkit-scrollbar-thumb{
  width: 8px ;
  background: #EF233C;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
#nprogress .bar {

  background: #EF233C !important;
}

#nprogress .spinner-icon {
  border-top-color: #EF233C !important;
  border-left-color: #EF233C !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #EF233C, 0 0 5px #EF233C !important;
}